version: '3'

services:
  app:
    container_name: api-node
    build: 
       context:
       dockerfile: Dockerfile
    volumes:
      - ./:/usr/src/app
    environment:
      - PORT=3000
    ports:
      - 3000:3000